.App {
  text-align: center;
}

ul{
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

li{
  list-style: none;
}

.contenedor-img{
  width: 400px;
  height: 400px;
}


img{
  width: 100%;
  height: 100%;
}